@charset "UTF-8";

.header{
  background-repeat: no-repeat;
  background-image: url('../background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
 }

body {
  font-family: monaco;
  background-image: url('../orange.jpeg');
  background-size: cover;
  color: white;
  outline-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  outline-width: 10px;
}

h1 {
  font-family: monaco, bold;
  text-align: center;
}


table, td {
  text-align: center;
  table-layout: fixed;
  color: white !important;
  outline-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  outline-width: 5px !important;
}

ul {
  list-style-type: none;
 }
 
 
 .addComment{
   text-align: center;
 }
 
 .checked {
  color: orange;
}

.pizzaInf {
	text-align: center;
}
 
.desc {
 text-align: center;
}​

.logo{
	float: left;
}

.title{
	float: center;
}

.topName{
	width: 200px;
}

.topImg{
	width: 80%;
	height: 80%;
}

h4{
	text-align:center;
}
